<%- include('templates/header') %>

<div class="flex flex-col items-center justify-center md:px-40 py-5">
    <h1 class="font-title font-extrabold text-3xl text-green-900 mb-4">Meet the MealMatcher<span class="text-lg">™</span> team!</h1>
    <h2 class="font-title font-extrabold text-xl text-green-900 mb-4">Kade "Scrum Goblin" Fraser</h2>
    <p class="text-mmpr mb-2">
      Meet Kade, one of the brilliant minds behind the revolutionary app 'MealMatcher.' 
      As an incredible coder, their exceptional skills paved the way for the app's success. 
      While they may struggle in the kitchen, their ability to work as a great teammate has been invaluable. 
      With their entrepreneurial prowess, they've become a millionaire and a dedicated philanthropist. 
      In their spare time, you might catch them donning their zebra cowboy attire or cracking eggs like a pro. 
      Not to mention, they even claimed victory in a legendary pinecone eating contest. Truly a multi-talented individual!
    </p>
    <h2 class="font-title font-extrabold text-xl text-green-900 mb-4">Blaise "I don't totally hate it" Klein</h2>
    <p class="text-mmpr mb-2">
      Introducing Blaise, the coding maestro and co-founder of 'MealMatcher.' 
      With an unparalleled coding prowess, they revolutionized search querying for the app. 
      Notorious for despising datasets, Blaise's wizardry extends beyond coding to extreme techdeck sports and dominating the Beyblade ring of heroes as the reigning champion. 
      On top of that, they possess a small but cherished collection of Magic: The Gathering cards and are the proud owner of multiple renowned ice cream chains. 
      Oh, and did we mention they also wield a lightsaber? A true force to be reckoned with!
    </p>
    <h2 class="font-title font-extrabold text-xl text-green-900 mb-4">Callum "I'm gonna wreck it" Goss</h2>
    <p class="text-mmpr mb-2">
      Allow us to introduce Callum, a coding prodigy and co-founder of 'MealMatcher.' While his coding skills are remarkable, his penchant for copyright infringement and talent for teasing Google Images are legendary. 
      Callum's extraordinary abilities extend to unconventional sports like barefoot snowboarding and his expertise as a renowned leather shoemaker. 
      Despite a second-place finish in a pinecone eating contest, his dedication to dataset querying and loading Google Images remains unparalleled.
    </p>
    <h2 class="font-title font-extrabold text-xl text-green-900 mb-4">Vitor "Egg-cracker" Guara</h2>
    <p class="text-mmpr mb-3">
      Meet Vitor, a visionary co-founder of 'MealMatcher' and a masterful UI designer. Using the power of Tailwind, he crafted captivating user interfaces for our app. 
      Beyond his design prowess, Vitor is a renowned Brazilian dancer, bringing pride to São Paulo. 
      His remarkable dancing skills are attributed to his unique no-pinecone diet, which also served as inspiration for the app. 
      As a great team player, he seamlessly combines his nimbleness as a wrestler. 
      Additionally, Vitor has amassed wealth through his acting career in soap commercials. A multifaceted talent driving our success.
    </p>
   
</div>


<%- include('templates/footer') %>
