<%- include('templates/header') %>
<div class="text-center">
  <h3 class="inline-block text-2xl sm:text-3xl font-extrabold text-slate-700 tracking-tight ">Your password has been updated</h3>
  <p>Please login to continue</p>
  <form action="/login">
    <button class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Login</button>
  </form>
  
</div>
<%- include('templates/footer') %>