<h3>Change Password</h3>
<%if(error){%>
  <%console.log(error)%>
<%if(error == "email-invalid"){%>
<p>Email is invalid</p>
<%}%>
 <%if(error == "password-incorrect"){%>
<p>Incorrect Password</p>
<%}%>
<%if(error == "password-same"){%>
  <p>New password cannot match old password.</p>
  <%}%>
<%if(error == "password-mismatch"){%>
<p>New password does not match confirm.</p>
<%}%>
<%}%>
<form action="/change-password-submit" method="post">
  <input type="text" name="email" placeholder="Email" required><br>
  <input type="password" name="oldPassword" placeholder="Old Password" required><br>
  <input type="password" name="newPassword" placeholder="New Password" required><br>
  <input type="password" name="newPasswordConfirm" placeholder="Confirm New Password" required><br>
  <button>Confirm</button>
</form>