<%- include('templates/header') %>
<div class="text-center">
  <h3 class="inline-block text-2xl sm:text-3xl font-extrabold text-mmpr tracking-tight ">Your password has been updated</h3>
  <p>Please login to continue</p>
  <form action="/login">
    <button class="px-6 py-2 leading-5 text-mmfo transition-colors duration-200 transform bg-mmpr rounded-md hover:bg-mmse focus:outline-none focus:bg-mmth">Login</button>
  </form>
  
</div>
<%- include('templates/footer') %>