<%- include('templates/header') %>
<div class="text-center">
  <h3 class="inline-block text-2xl sm:text-3xl font-extrabold text-mmpr tracking-tight font-title mt-4">Your profile has been updated</h3>
  <form action="/profile" class="my-4">
    <button class="px-6 py-2 leading-5 text-mmfo transition-colors duration-200 transform bg-mmpr rounded-md hover:bg-mmse focus:outline-none focus:bg-mmth">Go back to profile</button>
  </form>
  
</div>
<%- include('templates/footer') %>