<form action="/dietUpdate" method="post">
<input type="checkbox" name="diet" value="vegetarian">Vegetarian<br>
<input type="checkbox" name="diet" value="vegan">Vegan<br>
<input type="checkbox" name="diet" value="gluten-free">Gluten-Free<br>
<input type="checkbox" name="diet" value="dairy-free">Dairy-Free<br>
<input type="checkbox" name="diet" value="nut-free">Nut-Free<br>
<input type="checkbox" name="diet" value="kosher">Kosher<br>
<input type="checkbox" name="diet" value="halal">Halal<br>
<input type="checkbox" name="diet" value="pescatarian">Pescatarian<br>
<input type="checkbox" name="diet" value="paleo">Paleo<br>
<input type="checkbox" name="diet" value="low-sodium">Low-Sodium<br>
<input type="checkbox" name="diet" value="low-carb">Low-Carb<br>
<input type="checkbox" name="diet" value="low-fat">Low-Fat<br>
<input type="checkbox" name="diet" value="low-sugar">Low-Sugar<br>
<input type="checkbox" name="diet" value="organic">Organic<br>
<input type="checkbox" name="diet" value="raw">Raw<br>
<input type="checkbox" name="diet" value="whole30">Whole30<br>
<input type="checkbox" name="diet" value="keto">Keto<br>
<input type="checkbox" name="diet" value="mediterranean">Mediterranean<br>
<input type="checkbox" name="diet" value="south-beach">South Beach<br>
<input type="checkbox" name="diet" value="weight-watchers">Weight Watchers<br>
<input type="checkbox" name="diet" value="fodmap-friendly">FODMAP Friendly<br>
<input type="checkbox" name="diet" value="anti-inflammatory">Anti-Inflammatory<br>
<input type="checkbox" name="diet" value="dairy-free">Dairy-Free<br>
<input type="checkbox" name="diet" value="egg-free">Egg-Free<br>
<input type="checkbox" name="diet" value="fish-free">Fish-Free<br>
<input type="checkbox" name="diet" value="low-fodmap">Low-FODMAP<br>
<input type="checkbox" name="diet" value="pork-free">Pork-Free<br>
<input type="checkbox" name="diet" value="red-meat-free">Red Meat-Free<br>
<input type="checkbox" name="diet" value="sesame-free">Sesame-Free<br>
<input type="checkbox" name="diet" value="shellfish-free">Shellfish-Free<br>
<input type="checkbox" name="diet" value="soy-free">Soy-Free<br>
<input type="checkbox" name="diet" value="sugar-conscious">Sugar-Conscious<br>
<input type="checkbox" name="diet" value="tree-nut-free">Tree Nut-Free<br>
<input type="checkbox" name="diet" value="wheat-free">Wheat-Free<br>
<input type="checkbox" name="diet" value="alcohol-free">Alcohol-Free<br>
<input type="checkbox" name="diet" value="immuno-supportive">Immuno-Supportive<br>
<input type="checkbox" name="diet" value="celery-free">Celery-Free<br>
<input type="checkbox" name="diet" value="crustacean-free">Crustacean-Free<br>
<input type="checkbox" name="diet" value="lupine-free">Lupine-Free<br>
<button type="submit">Save</button>
</form>
<form action="/profile">
<button>Close</button>
</form>