<%- include('templates/header') %>

<h3 class="text-3xl font-semibold text-gray-700 capitalize dark:text-white justify-center mb-4 text-center">You found the cracked egg</h3>

<img src="/public/images/cracked-egg.jpg">


<h3 
class="text-3xl font-semibold text-gray-700 capitalize dark:text-white justify-center mb-4 text-center"
>
    You found the cracked egg
</h3>

<h3 
class="text-3xl font-semibold text-gray-700 capitalize dark:text-white justify-center mb-4 text-center"
>
    Click here to add the cracked egg to your profile
</h3>



<%- include('templates/footer') %>
