<%- include('templates/header') %>

<h3 class="text-3xl font-semibold text-mmpr capitalize justify-center mb-4 text-center mt-4">You have cracked the Egg</h3>

<div class="flex justify-center">
    <img src="/public/images/EggGifLQ.gif">
  </div>
  

<h3 
class="text-xl justify-center mb-4 text-center"
>
    <form action="/add-egg" method="post">
        <input type="submit" value="Click here to add the cracked egg next to your profile" class="bg-mmpr hover:bg-mmse text-mmfo font-bold py-2 px-4 rounded mr-2">
    </form>

</h3>



<%- include('templates/footer') %>
