<%- include('templates/header') %>

<section class="max-w-4xl p-6 mx-auto bg-mmfo border border-mmpr rounded-md shadow-md mt-20 mb-4">
  <h2 class="text-lg font-semibold text-mmpr capitalize justify-center">Log In</h2>
  
  <form action="/login-submit" method="post">
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
          <div>
              <label class="text-mmpr" for="username">Username <span class="text-red-600 italic" >(*required)</span></label>
              <input id="username" name="username" type="text" placeholder="Username" required class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none focus:ring">
          </div>
          <div>
              <label class="text-mmpr" for="password">Password <span class="text-red-600 italic" >(*required)</span></label>
              <input id="password" type="password" name="password" placeholder="Password" required class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 blue-500 focus:outline-none focus:ring">
          </div>
      </div>

      <!-- warning message for incorrect username/password combo -->
      <p class="text-xs italic text-red-500 warning-transition">
        <%if(error){%>
          Username/password combo is incorrect.
        <%}%>
      </p>

      <div class="flex justify-center mt-6">
          <button type="submit" class="px-6 py-2 leading-5 text-mmfo transition-colors duration-200 transform bg-mmpr rounded-md hover:bg-mmse focus:outline-none focus:bg-mmth">Log In</button>
      </div>
  </form>

  <!-- Prompt user to signup if they don't have an account -->
  <p class="mt-4 justify-center items-center flex ">
      <a class="text-sm font-medium text-mmpr hover:underline hover:text-mmse  bg-mmth border border-mmpr rounded px-3 py-1" href="/signup">Don't have an account? Register here.</a>
  </p>

</section>




<%- include('templates/footer') %>
