<%- include('templates/header') -%>


<!--Search Bar -->
<div class="container bg-gradient-to-tr from-mmpr to-mmth border border-mmpr rounded">
<h3 class="text-4xl font-bold text-green-950 flex items-center justify-center pt-6 font-title">Search by recipe</h3>
<form type="text" name="search" class="mb-7 mt-6">
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search for a recipe</label>
    <div id="search-area" class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
        </div>
        <select name="time">
            <option name="time" value="0">Prep Time</option>
            <option name="time" value="15">15 Minutes</option>
            <option name="time" value="30">30 Minutes</option>
            <option name="time" value="60">60 Minutes</option>
            <option name="time" value="4">60+ Minutes</option>
        </select>
        <select name="diet">
            <option name="diet" value="0">Diet</option>
            <option name="diet" value="vegan">Vegan</option>
            <option name="diet" value="vegetarian">Vegetarian</option>
            <option name="diet" value="dairy-free">Dairy Free</option>
            <option name="diet" value="healthy">Healthy</option>
            <option name="diet" value="gluten-free">Gluten Free</option>
            <option name="diet" value="keto">Keto</option>
            <option name="diet" value="low-fat">Low Fat</option>
            <option name="diet" value="low-sodium">Low Sodium</option>
            <option name="diet" value="low-carb">Low Carb</option>
        </select>
        <input name="search" type="search" id="default-search"
            class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Search for a recipe" required>
        <button type="submit"
            class="text-mmfo absolute right-2.5 bottom-2.5 bg-mmpr hover:bg-mmse focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 ">Search</button>
    </div>
</form>

<hr/>

<!-- Search Results -->
<% if (recipes) { %>
    <h3 class="text-4xl font-bold text-gray-950 items-center flex justify-center font-title mt-5">Recipes for <%= search %>   </h3>
    <!--Recipe List-->
    <div class="min-h-screen flex justify-center items-center py-20">
      <div class="md:px-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-5 space-y-4 md:space-y-0">
    <% for (let i=0; i < recipes.length; i++) { %>
        <%var recipe = recipes[i] %>
        <%- include('templates/recipe-card', {recipe: recipe, time: times[i], image: images[i]}) -%>
    <% }
    </div>
    </div>
} %>
</div>

<script>
  // window.addEventListener('load', function() {
  //   var egg = 'egg';
  //   var easter = '/easter-egg';
  //   var body = document.querySelector('body');

  //   var regex = new RegExp(egg, 'gi');
  //   body.innerHTML = body.innerHTML.replace(regex, '<a href="' + easter + '">$&</a>');
  // });

  window.addEventListener('load', function() {
  var egg = 'egg';
  var easter = '/easter-egg';
  var body = document.querySelector('body');
  
  replaceTextWithLink(body, egg, easter);
});

function replaceTextWithLink(element, keyword, linkURL) {
  if (element.nodeType === Node.TEXT_NODE) {
    var content = element.textContent;
    var regex = new RegExp(keyword, 'gi');
    if (regex.test(content)) {
      var newContent = content.replace(regex, '<a href="' + linkURL + '">$&</a>');
      var span = document.createElement('span');
      span.innerHTML = newContent;
      element.parentNode.replaceChild(span, element);
    }
  } else {
    var childNodes = element.childNodes;
    for (var i = 0; i < childNodes.length; i++) {
      replaceTextWithLink(childNodes[i], keyword, linkURL);
    }
  }
}



</script>



<%- include('templates/footer') -%>