<h3>Create Account</h3>
<form action="/signup-submit" method="post">
  <input type="text" name="firstname" placeholder="First" required >
  <input type="text" name="lastname" placeholder="Last" required ><br>
  <input type="text" name="username" placeholder="Username" required ><br>
  <input type="email" name="email" placeholder="Email" required ><br>
  <input type="password" name="password" placeholder="Password" required><br>
  <button>Sign Up</button>
</form> 