
  <!-- button for categories -->

  <label class="flex items-center">
    <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="<%= catItem %>" onclick="addIngredient(this.name)">+</button>
    <span class="ml-2 text-mmpr capitalize"><%= catItem %></span>
  </label>

