<!-- mobile sticky navbar -->
<div
    class="md:hidden fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600">
    <div class="grid h-full max-w-lg grid-flow-col mx-auto font-medium py-2">
        <a href="/">
            <button type="button"
                class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">

                <svg class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path
                        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                    </path>
                </svg>
                <span
                    class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Home</span>

            </button>
        </a>
        <a href="/search">
            <button type="button"
                class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">

                <svg class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.5 17c1.71 0 3.287-.573 4.55-1.537l4.743 4.744a1 1 0 0 0 1.414-1.414l-4.744-4.744A7.5 7.5 0 1 0 9.5 17zM15 9.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>

                <span
                    class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Search</span>

            </button>
        </a>
        <a href="/searchIngredients">
            <button type="button"
                class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">

                <svg class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
                    fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
                        <path d="M2173 5105 c-143 -32 -274 -122 -359 -246 -71 -104 -95 -179 -101
                      -311 l-6 -108 85 0 c123 0 189 17 308 78 149 77 170 83 315 91 145 8 185 21
                      240 78 18 19 38 47 45 63 l12 30 94 0 94 0 0 85 0 85 -94 0 c-88 0 -95 2 -101
                      21 -11 33 -74 98 -119 122 -36 19 -59 22 -196 24 -104 2 -175 -2 -217 -12z
                      m358 -184 c31 -31 36 -55 18 -94 -17 -37 -43 -45 -169 -51 -137 -6 -191 -21
                      -330 -92 -58 -30 -118 -57 -134 -60 -26 -6 -28 -5 -21 17 41 139 170 261 310
                      295 28 7 105 13 173 13 l124 1 29 -29z" />
                        <path d="M2820 4520 c0 -77 -3 -91 -17 -97 -169 -57 -270 -180 -280 -342 -6
                      -111 97 -869 127 -934 45 -95 142 -156 250 -157 132 0 248 91 274 215 19 90
                      106 790 106 852 0 158 -97 299 -240 350 l-50 18 0 92 0 93 -85 0 -85 0 0 -90z
                      m175 -278 c43 -21 74 -51 96 -94 24 -46 24 -128 0 -283 l-16 -110 -87 -3 -88
                      -3 0 -84 0 -85 75 0 c57 0 75 -3 75 -14 0 -22 -39 -304 -46 -331 -3 -14 -20
                      -36 -36 -50 -63 -53 -157 -17 -173 66 -15 82 -91 670 -86 674 2 3 46 5 98 5
                      l93 0 0 85 0 85 -100 0 c-69 0 -100 4 -100 12 0 25 52 97 83 117 65 40 147 45
                      212 13z" />
                        <path d="M1988 4256 c-99 -27 -167 -96 -188 -192 -22 -99 25 -214 111 -267 94
                      -57 259 -58 356 -2 158 93 160 331 3 430 -69 43 -188 56 -282 31z m176 -170
                      c44 -18 63 -64 46 -106 -7 -17 -21 -35 -31 -40 -26 -15 -161 -12 -181 4 -48
                      36 -39 118 16 142 40 17 108 18 150 0z" />
                        <path d="M1014 4049 c-161 -21 -297 -156 -324 -323 -17 -104 18 -227 88 -308
                      24 -27 30 -48 40 -122 15 -112 54 -199 120 -265 47 -47 154 -111 186 -111 20
                      0 36 -31 36 -69 0 -54 39 -138 86 -186 80 -83 199 -120 305 -95 76 18 123 48
                      209 135 l75 75 140 -140 140 -140 60 60 60 60 -140 140 -140 140 81 82 c93 95
                      117 132 134 206 43 184 -97 377 -282 390 l-57 4 -16 49 c-25 73 -86 161 -143
                      202 -73 54 -130 76 -228 88 -78 10 -92 15 -135 49 -83 66 -187 93 -295 79z
                      m144 -185 c18 -7 56 -36 86 -64 l53 -50 89 0 c102 0 149 -17 203 -71 47 -47
                      72 -108 78 -195 l6 -74 109 0 c115 0 144 -8 185 -52 32 -35 45 -77 38 -126 -5
                      -37 -19 -56 -82 -123 -42 -43 -81 -79 -87 -79 -6 0 -72 61 -146 135 l-135 135
                      -60 -60 -60 -60 140 -140 140 -140 -70 -70 c-104 -105 -153 -121 -235 -77 -66
                      35 -80 70 -80 203 l0 111 -79 6 c-174 12 -256 101 -268 291 l-6 91 -61 65
                      c-68 73 -92 128 -81 189 8 46 39 99 63 108 9 4 29 15 44 26 58 43 142 51 216
                      21z" />
                        <path d="M3629 3920 c-173 -31 -263 -211 -183 -367 52 -103 162 -153 307 -139
                      82 8 121 23 171 66 135 119 101 348 -63 418 -56 25 -164 35 -232 22z m181
                      -190 c73 -73 5 -158 -118 -148 -94 8 -137 85 -81 144 20 21 31 24 101 24 64 0
                      81 -3 98 -20z" />
                        <path d="M4235 3485 c-190 -41 -338 -158 -419 -328 -49 -104 -60 -163 -61
                      -327 0 -117 4 -154 18 -192 18 -47 85 -119 132 -140 24 -11 25 -15 25 -105 l0
                      -94 83 3 82 3 3 92 c3 90 4 93 30 107 43 23 94 78 115 125 15 33 22 80 27 180
                      9 146 15 170 80 281 52 90 78 181 86 305 l7 105 -74 -1 c-41 0 -101 -7 -134
                      -14z m10 -216 c-9 -24 -34 -77 -56 -118 -66 -119 -80 -170 -88 -319 -7 -119
                      -10 -135 -31 -157 -32 -34 -88 -34 -119 -1 -22 23 -23 29 -19 183 3 139 6 164
                      26 207 30 67 94 148 142 181 36 25 151 77 157 71 2 -2 -4 -23 -12 -47z" />
                        <path d="M2935 2757 c-113 -45 -182 -128 -201 -244 l-6 -40 -67 -5 c-107 -8
                      -189 -65 -243 -168 -34 -67 -33 -186 4 -255 51 -98 140 -157 245 -163 l63 -4
                      0 -169 0 -169 300 0 300 0 0 170 0 170 53 0 c64 0 157 42 204 91 78 83 101
                      221 55 324 -48 105 -152 175 -262 175 -49 0 -49 0 -55 38 -26 157 -145 263
                      -295 261 -36 0 -78 -6 -95 -12z m161 -176 c48 -29 64 -75 64 -185 l0 -96 129
                      0 130 0 34 -33 c45 -42 56 -91 31 -142 -35 -75 -32 -75 -454 -75 -354 0 -377
                      1 -407 20 -79 48 -82 150 -7 209 24 19 40 21 155 21 l129 0 0 96 c0 69 5 106
                      17 131 32 68 115 93 179 54z m64 -786 l0 -85 -130 0 -130 0 0 85 0 85 130 0
                      130 0 0 -85z" />
                        <path d="M1712 2380 c-111 -23 -210 -90 -272 -182 -53 -80 -70 -145 -70 -271
                      0 -114 12 -146 73 -191 39 -29 209 -36 290 -12 160 46 281 181 307 341 24 148
                      4 238 -65 291 -34 26 -46 28 -129 31 -50 1 -110 -2 -134 -7z m165 -233 c-3
                      -40 -13 -91 -22 -113 -39 -94 -135 -154 -247 -154 l-68 0 0 69 c0 38 5 82 11
                      98 19 51 62 104 107 130 53 32 89 41 166 42 l59 1 -6 -73z" />
                        <path d="M756 2210 c-85 -26 -142 -100 -157 -206 -11 -76 -25 -107 -84 -179
                      -63 -78 -80 -131 -80 -250 0 -93 2 -105 32 -166 77 -155 236 -232 443 -214
                      138 13 236 67 304 169 97 146 83 336 -34 476 -47 56 -70 106 -70 151 0 95 -75
                      195 -162 217 -53 14 -149 14 -192 2z m160 -175 c16 -11 22 -29 27 -74 6 -73
                      39 -147 100 -224 25 -32 51 -74 58 -94 29 -89 -18 -206 -100 -250 -38 -20 -59
                      -23 -148 -23 -82 0 -111 4 -141 19 -73 38 -112 104 -112 191 0 62 16 102 64
                      159 54 64 86 134 98 210 5 36 17 74 26 84 19 21 99 23 128 2z" />
                        <path d="M4195 2116 c-22 -7 -56 -21 -75 -30 -19 -10 -271 -254 -560 -542
                      l-525 -524 -323 0 -322 0 0 58 c-1 244 -155 424 -388 454 -141 18 -218 -6
                      -270 -82 -22 -33 -23 -42 -20 -155 3 -126 2 -121 76 -267 2 -5 -150 -8 -337
                      -8 l-341 0 0 -510 0 -510 1450 0 1450 0 0 452 0 452 309 311 c366 367 366 366
                      366 530 0 89 -3 107 -28 161 -36 77 -113 154 -192 191 -48 22 -76 28 -145 30
                      -50 2 -101 -3 -125 -11z m216 -179 c64 -34 102 -93 107 -166 8 -108 8 -107
                      -326 -443 l-307 -308 -305 0 -305 0 450 451 c300 301 463 457 490 470 57 27
                      140 25 196 -4z m-2333 -603 c93 -45 142 -136 142 -260 l0 -57 -75 6 c-89 8
                      -128 23 -180 68 -57 50 -85 118 -85 208 l0 74 73 -7 c46 -4 91 -16 125 -32z
                      m1762 -824 l0 -340 -1280 0 -1280 0 0 340 0 340 1280 0 1280 0 0 -340z" />
                        <path d="M4180 1705 l0 -85 85 0 85 0 0 85 0 85 -85 0 -85 0 0 -85z" />
                        <path d="M3840 1365 l0 -85 85 0 85 0 0 85 0 85 -85 0 -85 0 0 -85z" />
                    </g>

                </svg>
                <!-- <img src="/public/icons/ingredients.svg" class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"/> -->
                <span
                    class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">MealMatch</span>

            </button>
        </a>
        <a href="/profile">
            <button type="button"
                class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">

                <svg class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z">
                    </path>
                </svg>
                <span
                    class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Profile</span>

            </button>
        </a>
    </div>
</div>

<!-- footer -->

<!-- component -->
<!-- Foooter -->
<section class="bg-white">
    <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2">
            <div class="px-5 py-2">
                <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    About
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    Privacy Policy
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    Contact Us
                </a>
            </div>
        </nav>
        <p class="mt-8 text-base leading-6 text-center text-gray-400">
            © 2023 MealMatcher, Inc. All rights reserved.
        </p>
    </div>
</section>






</body>

</html>