<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>MealMatch</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> 



</head>
<body class="bg-mmfo">
    <header class="bg-mmpr text-mmfo">
        <div class="hidden md:block">
            <%- include('desktop-navbar') %>
            
          </div>
        <div class="md:hidden">
            <%- include('mobile-navbar') %>
        </div>
    </header>  
