<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MealMatch</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    
    <!-- transition style for warning messages on forms -->
    <style>
        @keyframes transitionBgColor {
          from { background-color: yellow; }
          to { background-color: rgb(244 247 237); }
        }
      
        @keyframes transitionTextColor {
          from { color: black; }
          to { color: red; }
        }
      
        .warning-transition {
          animation: transitionBgColor 3s linear forwards,
                     transitionTextColor 3s linear forwards;
        }
      </style>



</head>
<body class="bg-mmfo">
    <header class="bg-mmpr text-mmfo">
        <div class="hidden md:block">
            <%- include('desktop-navbar') %>
            
          </div>
        <div class="md:hidden">
            <%- include('mobile-navbar') %>
        </div>
    </header>  
