<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MealMatch</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>
    <header>
        <div class="hidden md:block">
            <%- include('desktop-navbar') %>
            
          </div>
        <div class="md:hidden">
            <%- include('mobile-navbar') %>
        </div>
    </header>  
