<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>MealMatch</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div class="hidden md:block">
            <%- include('desktop-navbar') %>
            
          </div>
        <div class="md:hidden">
            <%- include('mobile-navbar') %>
        </div>
    </header>  
